kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: nfs-client-provisioner
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner-data
          image: quay.io/external_storage/nfs-client-provisioner:latest
          volumeMounts:
            - name: nfs-client-root-data
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: data.local/nfs
            - name: NFS_SERVER
              value: {{ nfs_server_ip }}
            - name: NFS_PATH
              value: /nfs_data
        - name: nfs-client-provisioner-log
          image: quay.io/external_storage/nfs-client-provisioner:latest
          volumeMounts:
            - name: nfs-client-root-log
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: log.local/nfs
            - name: NFS_SERVER
              value: {{ nfs_server_ip }}
            - name: NFS_PATH
              value: /nfs_log
        - name: nfs-client-provisioner-backup
          image: quay.io/external_storage/nfs-client-provisioner:latest
          volumeMounts:
            - name: nfs-client-root-backup
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: backup.local/nfs
            - name: NFS_SERVER
              value: {{ nfs_server_ip }}
            - name: NFS_PATH
              value: /nfs_backup
      volumes:
        - name: nfs-client-root-data
          nfs:
            server: {{ nfs_server_ip }}
            path: /nfs_data
        - name: nfs-client-root-log
          nfs:
            server: {{ nfs_server_ip }}
            path: /nfs_log
        - name: nfs-client-root-backup
          nfs:
            server: {{ nfs_server_ip }}
            path: /nfs_backup			    