kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: mssql-backup-claim
  annotations:
    volume.beta.kubernetes.io/storage-class: "block"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
